@import url("https://fonts.googleapis.com/css2?family=Cambo&family=Abel&family=Titillium+Web:wght@300&display=swap");

:root {
  --background-color: #0d1117;
  --border-color: #4d535c;
}

html,
body {
  font-family: "Titillium Web", sans-serif;
  margin: 0px;
  padding: 0px;
  background-color: var(--background-color);
  color: white;
}

a {
  color: white;
  text-decoration: none;
}

header {
  position: sticky;
  background-color: var(--background-color);
  padding-top: 10px;
  top: 0px;
  display: flex;
  justify-content: center;
}

.main {
  text-align: center;
}

.header {
  display: flex;
  border-spacing: 5px;
  flex-direction: row;
  justify-content: center;
  gap: 5px;
  width: 50%;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  gap: 50px;
  padding: 2px 10px;
}

.tags {
  padding-left: 10px;
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.tag {
  background-color: antiquewhite;
  border-radius: 10px;
  padding-left: 5px;
  padding-right: 5px;
  color: var(--background-color);
  min-width: 25px;
  text-align: center;
}

.posts {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  gap: 5px;
}

.post-preview {
  min-width: 100px;
  height: 100px;
  width: 50%;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  text-align: left;
  padding: 0 10px;
  cursor: pointer;
}

.post-preview-title {
  font-size: 16pt;
}
.post-preview-info {
  color: antiquewhite;
  font-size: 10pt;
  margin-bottom: 15px;
  display: flex;
  flex-direction: row;
}

.post-preview:hover {
  border-color: antiquewhite;
}

.post-preview-content {
  font-family: "Abel", sans-serif;
}

.post {
  width: 50%;
  padding: 2px 10px;
  text-align: justify;
  word-wrap: break-word;
}

.books {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: center;
}

.book-preview {
  min-width: 180px;
  height: 150px;
  width: 20%;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  text-align: left;
  padding: 0 10px;
}

.book-preview-dummy {
  min-width: 180px;
  width: 20%;
  padding: 0 11px;
}

.book-preview.summary {
  cursor: pointer;
}

.book-preview.summary:hover {
  border-color: antiquewhite;
}

.book-header-main,
.book-header-secondary {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  color: var(--border-color);
}

.book-header-secondary {
  margin-top: 0px;
}

.icon {
  cursor: pointer;
}

.icon.active {
  color: antiquewhite;
}

@media only screen and (max-width: 1200px) {
  .header,
  .post-preview,
  .post {
    width: 90%;
  }
}

@media only screen and (max-width: 600px) {
  .header {
    gap: 10px;
  }
  .book-preview {
    width: 90%;
  }
}
