@import url("https://fonts.googleapis.com/css2?family=Cambo&family=Abel&family=Titillium+Web:wght@300&display=swap");

:root {
  --background-color: #0d1117;
  --border-color: #4d535c;
}

html,
body {
  font-family: "Titillium Web", sans-serif;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  background-color: var(--background-color);
}

a {
  color: white;
  text-decoration: none;
}

.main {
  text-align: center;
}

.posts {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.post-preview {
  min-width: 100px;
  height: 100px;
  width: 40%;
  border: 1px solid var(--border-color);
  border-radius: 5px;
}

.post-preview:hover {
  border-color: #636a75;
  cursor: pointer;
}

.post-preview-content {
  font-family: "Abel", sans-serif;
}

.header {
  display: flex;
  border-spacing: 5px;
  flex-direction: row;
  justify-content: center;
  gap: 5px;
}
