/* PrismJS 1.30.0
https://prismjs.com/download.html#themes=prism-tomorrow&languages=markup+css+clike+javascript+c+python+rust */
code[class*="language-"],
pre[class*="language-"] {
  color: #889b5b;
  background: 0 0;
  font-family: "Fira Code", Monaco, Consolas, Ubuntu Mono, monospace;
  font-size: 11pt;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}
pre[class*="language-"] {
  padding: 1em;
  margin: 0.5em 0;
  overflow: auto;
}
:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  border: var(--border);
}
:not(pre) > code[class*="language-"] {
  padding: 0.1em;
  border-radius: 0.3em;
  white-space: normal;
}
.token.block-comment,
.token.cdata,
.token.comment,
.token.doctype,
.token.prolog {
  color: #e35b5b;
}
.token.punctuation {
  color: #e07070;
}
.token.attr-name,
.token.deleted,
.token.namespace,
.token.tag {
  color: #dc6266;
}
.token.function-name {
  color: #669dd4;
}
.token.boolean,
.token.function,
.token.number {
  color: #fd944e;
}
.token.class-name,
.token.constant,
.token.property,
.token.symbol {
  color: #ffb923;
}
.token.atrule,
.token.builtin,
.token.important,
.token.keyword,
.token.selector {
  color: #ec47ef;
}
.token.attr-value,
.token.char,
.token.regex,
.token.string,
.token.variable {
  color: #3af281;
}
.token.entity,
.token.operator,
.token.url {
  color: #57e5e3;
}
.token.bold,
.token.important {
  font-weight: 700;
}
.token.italic {
  font-style: italic;
}
.token.entity {
  cursor: help;
}
.token.inserted {
  color: #78d683;
}
